*~
*.swp
*.burrow
*.meadow
*temp*
/*test*
!/*test*/
!/*test*/**
.DS_Store
.venv/
__pycache__/
MODULE.bazel.lock
/bazel-Cottontail
/bazel-bin
/bazel-out
/bazel-testlogs
/Scrapheap
/isj/config.toml
/build-all.log
